/*#e8fff3 #ecf8f2*/
/*#e8fff3 #ecf8f2*/
/*#e8fff3 #ecf8f2*/
/*#e8fff3 #ecf8f2*/
/**/
/**/
@import url(reset.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700&subset=cyrillic);
@font-face {
  font-family: nautilys;
  src: url("../fonts/nautiluspompilius.ttf");
  font-weight: 400;
  font-style: normal; }
* {
  border: 0; }

/*FLUID*/
.cols {
  float: left;
  padding: 0 1em;
  text-align: center; }

.col1,
.col10,
.col11,
.col12,
.col2,
.col3,
.col4,
.col5,
.col6,
.col7,
.col8,
.col9 {
  width: 100%; }

.clear:after,
.clear:before,
.conteiner:after,
.conteiner:before,
.row:after,
.row:before {
  content: " ";
  display: table; }

.clear:after,
.conteiner:after,
.row:after {
  clear: both; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

body,
html {
  background: #eefaff;
  height: 100%;
  font: 100%/1.5em 'Open Sans', sans-serif; }

a {
  text-decoration: none; }

.s-conteiner {
  margin: 0 auto;
  position: relative;
  background: url("../images/menu-s.png") #fff no-repeat;
  background-size: contain;
  box-shadow: 0 0 15px #999;
  -webkit-box-shadow: 0 0 15px #999;
  width: 90%;
  -moz-box-shadow: 0 0 15px #999;
  width: 90%; }
  @media (max-width: 910px) and (min-width: 580px) {
    .s-conteiner {
      margin: 0 auto;
      position: relative;
      background: url("../images/menu.png") #fff no-repeat;
      background-size: contain;
      box-shadow: 0 0 15px #999;
      -webkit-box-shadow: 0 0 15px #999;
      width: 90%;
      -moz-box-shadow: 0 0 15px #999;
      width: 90%; } }

.logo-box {
  /*	margin: 30px auto;
  	@media (min-width: $planshet) {
  		margin: 0 auto;
  	}
  	@media (max-width: $planshet) and (min-width: 580px) {
  		margin: 30px auto;
  	}
  	@media (max-width: 380px) {
  		margin: 25px 0;
  	}
  	@media (max-width: 250px) {
  		margin: 20px 0;
  	}*/ }

.logo-box__logo {
  opacity: 0;
  transition: opacity 1.5s;
  margin-top: 30px;
  margin-left: 40px;
  width: 350px;
  overflow: hidden; }
  .logo-box__logo img {
    width: 100%; }
  @media (max-width: 910px) {
    .logo-box__logo {
      width: calc(100% - 40px);
      height: auto;
      margin: 40px auto; } }
  @media (max-width: 600px) {
    .logo-box__logo {
      width: calc(100% - 20px);
      height: 300px;
      background-image: url("../images/logo_vert.svg");
      background-position: top center;
      background-repeat: no-repeat;
      margin: 40px auto; }
      .logo-box__logo img {
        display: none; } }

.phone-top__kod-goroda {
  font-size: 1em;
  font-weight: bold;
  color: #60c48f; }
.phone-top__number {
  position: relative;
  font-size: 1.5em;
  color: #60c48f;
  top: 1px; }
.phone-top__adres {
  font-size: 1em;
  font-weight: bold;
  color: #60c48f; }
.phone-top__adres_big {
  font-size: 18px; }
@media (max-width: 910px) and (min-width: 580px) {
  .phone-top {
    line-height: 1.8em; }
    .phone-top__kod-goroda {
      font-size: 1.4em;
      font-weight: bold;
      color: #60c48f; }
    .phone-top__number {
      position: relative;
      font-size: 1.9em;
      color: #60c48f;
      top: 1px; }
    .phone-top__adres {
      font-size: 1.2em;
      font-weight: bold;
      color: #60c48f; }
    .phone-top__adres_big {
      font-size: 1.2em; } }
@media (max-width: 250px) {
  .phone-top__adres {
    font-size: 0.9em;
    color: #60c48f;
    line-height: 1.2em;
    font-weight: bold; }
  .phone-top__number {
    font-size: 1.2em;
    color: #60c48f;
    line-height: 1.2em;
    position: relative;
    top: 1px; }
  .phone-top__kod-goroda {
    font-size: 0.9em;
    color: #60c48f;
    line-height: 1.2em;
    font-weight: bold; } }

.slogan-box {
  display: flex;
  flex-direction: column;
  margin: 40px 0 0; }
  @media (min-width: 910px) {
    .slogan-box {
      display: flex;
      margin: 60px 0 0;
      min-height: 160px;
      align-items: center;
      justify-content: center; } }
  @media (max-width: 910px) and (min-width: 580px) {
    .slogan-box {
      display: flex;
      margin: 40px 0 0;
      min-height: 160px;
      align-items: center;
      justify-content: center; } }
  @media (max-width: 250px) {
    .slogan-box {
      margin: 15px 0 0; } }

.price-box {
  margin: 30px auto; }
  @media (min-width: 910px) {
    .price-box {
      margin: 60px auto 90px; } }
  @media (max-width: 910px) and (min-width: 580px) {
    .price-box {
      margin: 30px 0; } }

.price-box__price {
  width: 300px;
  height: 120px;
  background: url("../images/price-s.png") no-repeat;
  margin: auto; }
  @media (min-width: 910px) {
    .price-box__price {
      width: 550px;
      height: 220px;
      background: url("../images/price.png") no-repeat;
      margin: auto; } }
  @media (max-width: 910px) and (min-width: 580px) {
    .price-box__price {
      width: 470px;
      height: 188px;
      background: url("../images/price-planshet.png") no-repeat;
      margin: auto; } }
  @media (max-width: 380px) {
    .price-box__price {
      width: 270px;
      height: 108px;
      background: url("../images/price-ss.png") no-repeat;
      margin: auto; } }
  @media (max-width: 321px) {
    .price-box__price {
      width: 240px;
      height: 96px;
      background: url("../images/price-250.png") no-repeat;
      margin: auto; } }
  @media (max-width: 250px) {
    .price-box__price {
      width: 170px;
      height: 68px;
      background: url("../images/price-vs.png") no-repeat;
      margin: auto; } }

/*FORMS
	.form-box{
		min-height: 200px;
		background:url(../images/footer.png) $green repeat-x;
	}
	.form-box__zagolovok{
	   font-size: 2em;
		font-weight: bold;
		color: #fff;
		margin: 18px auto 10px;
	}
	.form-box__input{
		height: 30px;
		margin: 10px;
		padding: 5px;
		width: 300px;
		@include border-radius(5px);
		background: $nice-green;
		vertical-align: middle;
	}
	.form-box__button{
	   font-size: 1.2em;
		color: #fff;
		height: 32px;
		margin: 5px;
		width: 150px;
		background: $dark-green;
		@include border-radius(5px);
		font: 100%/1.5em 'Open Sans', sans-serif;
		vertical-align: middle;
		font-weight: bold;
	}*/
/*CONTACTS*/
.contacts-box {
  background: #e8fff3;
  overflow: hidden;
  margin-top: 0; }

.contacts-box__contacts {
  height: 350px; }

.contacts-box__zagolovok {
  font-size: 25px;
  color: #60c48f;
  line-height: 1.5em;
  padding-top: 15px;
  font-weight: bold; }

.contacts-box__podzagolovok {
  font-size: 15px;
  line-height: 1.5em; }

.contacts-box__podzagolovok_bold {
  font-weight: bold;
  padding-top: 15px; }

.contacts-box__maps {
  height: 400px;
  padding: 0;
  margin: 0; }

#map {
  width: 100%;
  height: 500px;
  background: #ccc; }

.s-footer {
  height: 40px;
  background: url("../images/footer.png") repeat-x;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; }

.s-footer__license {
  padding-left: 0;
  font-size: 0.7em;
  color: #fff;
  font-weight: bold;
  text-align: center; }

@media screen and (min-width: 910px) {
  /*FLUID*/
  .cols {
    float: left;
    padding: 0;
    text-align: center; }

  .col1 {
    width: 8.333333333333333%; }

  .col2 {
    width: 16.66666666666667%; }

  .col3 {
    width: 25%; }

  .col4 {
    width: 33.33333333333333%; }

  .col5 {
    width: 41.66666666666667%; }

  .col6 {
    width: 50%; }

  .col7 {
    width: 58.33333333333333%; }

  .col8 {
    width: 66.66666666666667%; }

  .col9 {
    width: 75%; }

  .col10 {
    width: 83.33333333333333%; }

  .col11 {
    width: 91.66666666666667%; }

  .col12 {
    width: 100%; }

  .s-conteiner {
    margin: 0 auto;
    position: relative;
    background: url("../images/menu.png") #fff no-repeat;
    background-size: contain;
    box-shadow: 0 0 15px #999;
    -webkit-box-shadow: 0 0 15px #999;
    width: 90%;
    -moz-box-shadow: 0 0 15px #999;
    width: 90%; }

  .phone-top {
    display: flex;
    flex-direction: column;
    height: 75px;
    width: 400px;
    position: relative;
    top: 40px;
    right: 40px;
    text-align: right;
    float: right; }

  .phone-top__kod-goroda {
    position: relative;
    font-size: 25px;
    color: #60c48f;
    font-weight: bold;
    top: 3px; }

  .phone-top__number {
    position: relative;
    font-size: 40px;
    color: #60c48f;
    top: 2px; }

  .phone-top__adres {
    font-size: 15px;
    color: #60c48f;
    font-weight: bold; }

  .phone-top__adres_relative {
    position: relative;
    top: 4px; }

  .phone-top__adres_big {
    font-size: 18px; }

  .contacts-box {
    height: 400px;
    background: #e8fff3; }

  .contacts-box__zagolovok {
    font-size: 25px;
    color: #60c48f;
    line-height: 1.5em;
    margin-left: 40px;
    padding-top: 15px;
    font-weight: bold;
    text-align: left; }

  .contacts-box__podzagolovok {
    font-size: 15px;
    color: black;
    line-height: 1.5em;
    margin-left: 40px;
    text-align: left; }

  .contacts-box__podzagolovok_bold {
    font-weight: bold;
    padding-top: 15px; }

  .contacts-box__maps {
    height: 400px;
    margin: 0;
    padding: 0; }

  .s-footer {
    height: 40px;
    background: url("../images/footer.png") repeat-x;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start; }

  .s-footer__license {
    padding-left: 40px;
    font-size: 12px;
    font-weight: bold;
    color: #fff; } }
/*forms*/
.form-box {
  display: block;
  background: #b0d9ff;
  max-width: 100%;
  margin: 15px auto 0;
  padding: 40px; }
  @media (max-width: 910px) {
    .form-box {
      min-height: 250px;
      margin-top: 0;
      padding: 20px; } }

.form-box__top {
  background: #00478a;
  width: 100%;
  height: 40px; }

.form-box__zagolovok {
  display: block;
  text-align: center;
  width: 100%;
  margin: auto;
  color: #00478a;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 800; }

.form-box__podzagolovok {
  display: block;
  text-align: center;
  width: 100%;
  margin: 5px auto auto;
  color: #fff;
  font-size: 14px;
  line-height: 1.4em;
  font-weight: 400; }

.form-box__form {
  display: block;
  padding: 20px 40px;
  margin: auto;
  max-width: 100%;
  background: #0080ff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px; }
  @media (min-width: 1280px) {
    .form-box__form {
      max-width: 1000px; } }
  @media (max-width: 910px) {
    .form-box__form {
      padding: 20px; } }

.form-box__submit {
  background: #00ba78;
  border-bottom: 3px solid #005c3a;
  padding: 0 20px;
  height: 55px;
  display: block;
  margin: 30px auto 0;
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  font-weight: bold;
  font-size: 18px; }

.form-box__submit:hover {
  background: #00cc84; }

.form-box__input {
  display: block;
  padding: 5px;
  width: 100%;
  margin: 0 auto;
  height: 30px; }

.form-box__input {
  border-top: 3px solid #ccc; }

.form-box__input-name {
  display: block;
  padding: 2px 0;
  width: 100%;
  margin: 20px auto 0;
  color: #00478a; }
  @media (max-width: 910px) {
    .form-box__input-name {
      margin: 10px auto 0; } }

/*TEXT*/
.pardon__title {
  font-size: 1.2em;
  font-weight: bold; }

.link {
  text-decoration: underline;
  color: black;
  transition: color 0.5s; }

.link:hover {
  color: #0080ff; }

.slogan-box__slogan {
  display: block;
  font-family: nautilys;
  font-size: 2.5em;
  color: #60c48f;
  line-height: 1.5em; }
  @media (min-width: 910px) {
    .slogan-box__slogan {
      font-family: nautilys;
      font-size: 3em;
      color: #60c48f;
      line-height: 1.5em;
      width: 100%; } }
  @media (max-width: 910px) and (min-width: 580px) {
    .slogan-box__slogan {
      font-family: nautilys;
      font-size: 3em;
      color: #60c48f;
      line-height: 1.5em; } }
  @media (max-width: 380px) {
    .slogan-box__slogan {
      font-family: nautilys;
      font-size: 2em;
      color: #60c48f;
      line-height: 1.5em; } }
  @media (max-width: 250px) {
    .slogan-box__slogan {
      font-size: 1.4em;
      color: #60c48f;
      line-height: 1.2em;
      font-family: nautilys; } }

.is-visible {
  opacity: 1; }
